{% extends "layout_rec.html" %}
{% block body %}
        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Company Profile</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->


        <!-- Job Detail Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row gy-5 gx-4">
                    <div class="col-lg-8">
                        <div class="d-flex align-items-center mb-5">
                            <img class="flex-shrink-0 img-fluid border rounded" src="https://www.kindpng.com/picc/m/752-7525554_bahria-university-islamabad-logo-hd-png-download.png" alt="" style="width: 200px;; height: 200px;">
                            <div class="text-start ps-4">
                                <h3 class="mb-3">Company Name</h3>
                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Location</span>
                                <span class="text-truncate me-3"><i class="far fa-envelope text-primary me-2"></i>Email</span>
                                <span class="text-truncate me-0"><i class="fa fa-phone-alt text-primary me-2 "></i>Phone</span>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h4 class="mb-3">Company Description</h4>
                            <p>XYZ Corporation is a leading provider of technology solutions for the healthcare industry. 
                            Founded in 2010, the company has quickly become known for its innovative products and services,
                            which help healthcare providers improve the quality and efficiency of care.</p>
                            <p></p>
                            <h4 class="mb-3">Company History</h4>
                            <p>XYZ Corporation was founded in 2010 by John Doe and Jane Smith. The company was born out of their
                                 shared passion for using technology to improve healthcare.

                                <ul class="list-unstyled">
                                <li><i class="fa fa-angle-right text-primary me-2"></i> In its early years, XYZ Corporation 
                                    focused on developing electronic medical record systems and patient management software. 
                                    The company quickly gained a reputation for its innovative products and high-quality services.
                                </li>

                                <li><i class="fa fa-angle-right text-primary me-2">                                    
                                </i>  In 2013, XYZ Corporation was recognized as one of the fastest-growing technology companies 
                                in the healthcare industry. The following year, the company received an award for its 
                                contributions to improving the quality of care.
                                </li>
                                <li><i class="fa fa-angle-right text-primary me-2"></i>    
                                    Today, XYZ Corporation continues to grow and expand, offering a range of products and 
                                    services that help healthcare providers deliver the best possible care to their patients. 
                                    The company remains committed to its founding principles and continues to push the boundaries of what is possible with technology in healthcare.</p>
                                </li>

                            </ul>
 
                           
                        </div>
        
                       
                    </div>
        
                    <div class="col-lg-4">
                        <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="mb-3">Company Objectives</h4>
                            <p>
                                XYZ Corporation's primary goal is to improve the quality of healthcare by providing technology solutions that 
                                are easy to use and effective. The company is committed to helping healthcare providers deliver the best possible care
                                 to their patients.
                            </p>

                            <h4 class="mb-3">Products/Services</h4>
                            <p>
                                XYZ Corporation offers a range of products, including electronic medical record systems, patient management 
                                software, and telemedicine platforms. These products are designed to be user-friendly and easy to integrate into 
                                existing healthcare systems.
                                <br>
                                In addition to its products, XYZ Corporation also offers a range of services, including training and 
                                support for healthcare providers. The company's team of experienced professionals is dedicated to helping clients 
                                achieve their goals and improve the care they provide.
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Detail End -->

        {% endblock %}