{% extends "layout_rec.html" %}
{% block body %}


        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Job List</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Vacancy</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Show Candidates</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->


        <!-- Jobs Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">List of Candidates</h1>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOC20xmgVPtq0mhxSCKf4G77XnkJz0x1QuQ&usqp=CAU" alt="" style="width: 150px; height: 150px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">Candidate Name</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Islamabad, Pakistan</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                            <h5 class="mb-3">Job Title</h5>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>45,000 - 60,000</span>
                                            <span class="text-truncate me-0"><i class="far fa-id-card text-primary me-2"></i>Marketing Manager</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                            <a class="btn btn-primary" href="/Seeker_profile">View Cv</a>
                                        </div>
                                        <small class="text-truncate"><i class="fas fa-file-code text-primary me-2"></i>68% Match</small>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOC20xmgVPtq0mhxSCKf4G77XnkJz0x1QuQ&usqp=CAU" alt="" style="width: 150px; height: 150px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">Candidate Name</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Islamabad, Pakistan</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                            <h5 class="mb-3">Job Title</h5>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>45,000 - 60,000</span>
                                            <span class="text-truncate me-0"><i class="far fa-id-card text-primary me-2"></i>Marketing Manager</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                            <a class="btn btn-primary" href="/Seeker_profile">View Cv</a>
                                        </div>
                                        <small class="text-truncate"><i class="fas fa-file-code text-primary me-2"></i>68% Match</small>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOC20xmgVPtq0mhxSCKf4G77XnkJz0x1QuQ&usqp=CAU" alt="" style="width: 150px; height: 150px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">Candidate Name</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Islamabad, Pakistan</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                            <h5 class="mb-3">Job Title</h5>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>45,000 - 60,000</span>
                                            <span class="text-truncate me-0"><i class="far fa-id-card text-primary me-2"></i>Marketing Manager</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                            <a class="btn btn-primary" href="/Seeker_profile">View Cv</a>
                                        </div>
                                        <small class="text-truncate"><i class="fas fa-file-code text-primary me-2"></i>68% Match</small>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOC20xmgVPtq0mhxSCKf4G77XnkJz0x1QuQ&usqp=CAU" alt="" style="width: 150px; height: 150px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">Candidate Name</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Islamabad, Pakistan</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                            <h5 class="mb-3">Job Title</h5>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>45,000 - 60,000</span>
                                            <span class="text-truncate me-0"><i class="far fa-id-card text-primary me-2"></i>Marketing Manager</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                            <a class="btn btn-primary" href="/Seeker_profile">View Cv</a>
                                        </div>
                                        <small class="text-truncate"><i class="fas fa-file-code text-primary me-2"></i>68% Match</small>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                                        
                                    </div>
                                </div>
                            </div>
                            
          
                            </div>
                            <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jobs End -->

        {% endblock %}